html {
  position: relative;
  min-height: 100%;
} 

/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */

body {
  background: #000;
  margin:auto;
  padding:auto;
}

/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  display: block;
  margin-bottom: 0;
  border-radius: 0;
}
/*                            END                                */

/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */

/* Jumbotron CSS */
.jumbotron{
  display: block;
  color:#fff;
  
  background-image: url('../img/jumbo-bg.png');
  background-position: center;
  
  height: 300px;
  
  margin: 0;
}
/* END */

/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */
.twitch{
  margin-bottom:0;
}

/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */

.twitchStreams{
  min-width: 100%;
  display: block;
}

/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */
.result-section{
  display: block;
}
.row.card-container{
  margin-left:0;
  margin-right:0;
  align-items: center;
}
.theCard{
  width: 300px;
  align-items: center;
}

/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */

.card-text{
  font-size:10px;
}

/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */

.logo{
 border-radius:100%;
 height:25px;
 width:25px;
}

/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */

.footer {

}
/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */

@media screen and (min-width:768px){  
/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */
  
  .jumbotron{
    font-size: 15px;
    line-height: 0;
    padding:0;
  }
  
/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */  
}

/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */

@media screen and (min-width:900px){
/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */

/* Jumbotron CSS */
.jumbotron{
  height: 225px;
  padding:0;
}
/* END */

/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// */
}
